{% extends 'base.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% block body %}
<h1>Edit Your Profile</h1>

{{ form_start(form) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    <button class="btn btn-primary">Save</button>
{{ form_end(form) }}
{% endblock %}
